:root {
  --main-font-family: Inter-Variable;
  --accent-font-family: PressStart2P;
  --main-text-weight: 400;
  --accent-text-weight: 700;
  --main-width: clamp(23.438rem, 100vw + 0rem, 90rem);
  --main-article-width: clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem);
  --main-color: #000;
  --contour-color: #000;
  --main-body-color: #ff0000;
  --accent-color: #fff;
  --page-background: 
  repeating-linear-gradient(to left, #d3d3d3 0px 2px, transparent 2px 4px),  
  repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),  
  linear-gradient(to bottom, #e7e7e7, #1a1a1a);
}

